    <script>
      /*const nav = document.getElementById("navbar");
      const img = document.createElement('img');
      img.setAttribute()
      nav.appendChild()*/
    </script>
  </body>
</html>
