</head>
<body>
<nav id= "navbar" class = "navbar navbar-light border border-bottom-1">
  <a href="/clucks"><img src="assets/img/brand.png" alt="Baby Chicken" style="width:50px; height:50px"></a>
  <% if (!username) {%>
    <a href="/" class="btn btn-secondary">Sign In</a>
  <%} else { %>
    <a href="/clucks/new" class="btn btn-secondary">New Cluck</a>
    <a href="/clucks" class="btn btn-secondary">Clucks</a>
  <% } %>
  </nav>