</head>
<body>
<nav id= "navbar" class = "navbar navbar-light border border-bottom-1">
  <a href="/clucks"><img src="../assets/img/brand.png" alt="Baby Chicken" style="width:50px; height:50px"></a>
  <% if (!username) {%>
    <a href="/" class="btn btn-secondary">Sign In</a>
  <%} else { %>
    <a href="/clucks/new" class="btn btn-secondary">Cluck!</a>
    <p class="pt-3"><%= "\u2022 " +  username + " \u2022" %> </p>

    <div class='form-container'>
      <form action="/sign_out" method="POST">
        <input type="submit" class= 'btn btn-secondary' value="Sign Out">
      </form>
    </div>
  <% } %>
  </nav>
