</head>
<body>
<nav id= "navbar" class = "navbar navbar-light border border-bottom-1">
    <a href="/" class="btn btn-secondary">Cluck</a>
    <a href="/" class="btn btn-secondary">Sign In</a>
  </nav>