<%-include('../partials/header')%>

<title>Welcome</title>
<link rel="stylesheet" href="">

<%-include('../partials/navbar')%>

<div class= "form-container border mx-2 my-3 p-2">
  <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="eg. Yogiduzit">
  </div>
  <button type="submit" class="btn btn-light border">Submit</button>
  </form>
</div>

<%-include('../partials/footer')%>
