<%-include('../partials/header')%>

<title>Welcome</title>
<link rel="stylesheet" href="">

<%-include('../partials/navbar')%>

<div class= "form-container border mx-2 my-3 p-2">
  <form action='/sign_in' method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="text" name="username" class="form-control" placeholder="eg. Yogiduzit">
  </div>
  <input type="submit" class="btn btn-light border" value="Sign In">
  </form>
</div>

<%-include('../partials/footer')%>
